<h2>All articles</h2>

<table class="width:full">
  <thead>
    <tr>
      <th>Title</th>
      <th>Source</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= for entry <- @entries do %>
      <tr>
        <td>
          <.link navigate={"/reader/entry/#{entry.id}"}><%= entry.title %></.link>
        </td>
        <td><%= # entry.source.name %></td>
        <td><%= entry.date |> NaiveDateTime.to_string() %></td>
      </tr>
    <% end %>
  </tbody>
</table>
