@import "./liveview.css";
@import "./typography.css";
@import "./components.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Theme */

:root {
  --primary: #ff2961;
  --primary-alt: #dd2052;
  --foreground: #0d1829;
  --foreground-alt: #1c2a3a;
  --background: #fefffb;
  --secondary: #8e7ce6;
  --tertiary: #59bac3;

  --gray-800: #767676;
  --gray-700: #8a8a8a;
  --gray-500: #adadad;
  --gray-250: #cfcfcf;
  --gray-100: #e5e7eb;

  --blue-700: #91a4b7;
  --blue-500: #cad5e0;
  --blue-250: #d2ddee;
  --blue-150: #ecf0f1;
  --blue-100: #f7f9fc;

  --ratio: 1.2;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --box-shadow-small: 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);

  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, Book Antiqua, Georgia, Century Schoolbook, serif;
  --font-display: "DM Serif Display", serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --font-size-viewport: ((100vw - 600px) / (1000 - 600));
}

/* Global styles */

body {
  font-family: var(--font-system);

  --max-font-size: 20;
  --min-font-size: 18;

  font-size: calc(
    var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) *
      var(--font-size-viewport)
  );
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-family: var(--font-display);
}

h2,
h3,
h4 {
  font-family: var(--font-sans);
}

ul {
  padding-inline-start: 2em;
}

code {
  font-family: var(--font-mono);
  background-color: var(--blue-100);
  vertical-align: baseline;
  border-radius: 2px;
  padding: 0.1em 0.2em;
  border: 1px solid var(--blue-250);
  text-transform: none;
}

p a,
td a,
ul a {
  color: var(--primary);
  font-weight: bold;
  text-decoration-thickness: 2px;
}

p a:hover,
td a:hover,
ul a:hover {
  opacity: 0.8;
}

p a:active,
td a:active,
ul a:active {
  filter: saturate(2);
}

table th {
  text-align: start;
}

img,
picture,
video,
audio {
  max-width: 100%;
}

/* Atoms */

.button,
.button-small,
.input {
  box-shadow: var(--box-shadow-small);
  font-weight: bold;
  border: 1px solid var(--blue-500);
  background: var(--background);
  color: var(--foreground);
  text-decoration: none;
  display: block;
  font-size: 0.9em;
}

.button-small {
  padding: var(--s-5);
  border-radius: 0.125em;
}

.button,
.input {
  padding: var(--s-2);
  border-radius: 0.375rem;
}

.button:hover,
.button-small:hover {
  opacity: 0.9;
  cursor: pointer;
  background: var(--blue-150);
}

.button:active,
.button-small:active {
  background: var(--gray-100);
}

.cta {
  color: var(--background);
  background: var(--primary);
}

.cta:hover,
.cta:active {
  background: var(--primary-alt);
}

.section-heading,
.label {
  text-transform: uppercase;
  font-weight: 700;
}

.label {
  font-size: 0.6em;
}

.section-heading {
  font-family: var(--font-sans);
  margin: 2em 0 0;
  line-height: 1.8em;
  color: var(--blue-700);
  padding-inline-start: 15px;
  font-size: 0.8em;
}

.error {
  color: #f8511b;
}

.error:before {
  content: "Error: ";
  font-weight: bold;
}

/* Layout */

.the-center {
  box-sizing: content-box;
  max-inline-size: 60ch;
  padding-inline-start: var(--s1);
  padding-inline-end: var(--s1);
  margin-inline: auto;
}

.the-stack > * + * {
  margin-block-start: var(--s1);
}

.the-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.the-sidebar > :first-child {
  flex-basis: 16.5em;
  flex-grow: 1;
}

.the-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.the-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

.the-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--s1);
  aspect-ratio: 1/1;
}

.the-form .input,
.the-form .button,
.the-form {
  inline-size: 100%;
}

.the-icon-parent,
.before\:icon {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.the-icon-parent .icon,
.before\:icon::before {
  margin-inline-end: 0.5em;
}

/* Utilities */

.size\:tiny {
  font-size: 0.5em;
}

.size\:small {
  font-size: 0.7em;
}

.size\:base {
  font-size: 1em;
}

.size\:large {
  font-size: 1.5em;
}

.size\:huge {
  font-size: 3em;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.justify\:center {
  justify-content: center;
}

.justify\:between {
  justify-content: space-between;
}

.items\:center {
  align-items: center;
}

.gap\:\.5 {
  gap: var(--s-4);
}

.gap\:1 {
  gap: var(--s1);
}

.gap\:2 {
  gap: var(--s2);
}

.gap\:3 {
  gap: var(--s3);
}

.gap\:4 {
  gap: var(--s4);
}

.gap\:5 {
  gap: var(--s5);
}

.padding\:-1 {
  padding: var(--s-1);
}

.padding\:\.5 {
  padding: var(--s-4);
}

.padding\:1 {
  padding: var(--s1);
}

.padding\:2 {
  padding: var(--s2);
}

.padding\:3 {
  padding: var(--s3);
}

.padding\:4 {
  padding: var(--s4);
}

.padding\:5 {
  padding: var(--s5);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.height\:full {
  block-size: 100%;
}

.width\:full {
  inline-size: 100%;
}

.scale\:small {
  --min-font-size: 15;
  --max-font-size: 16;

  /* needed cause inheritance takes the old variables. ugh. */
  font-size: calc(
    var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) *
      var(--font-size-viewport)
  );
}

.scale:large {
  font-size: 120%;
}

.margin\:0 {
  margin: 0;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.before\:\~ {
  list-style-type: "~";
  margin-inline-start: -0.2em;
}

.color\:secondary {
  color: var(--secondary);
}

.before\:icon::before,
.icon {
  vertical-align: -0.125em;
  height: 1em;
  height: 1.3cap;
  width: 1em;
  width: 1.3cap;
  display: inline;
  padding-inline: 0.16em;
  box-sizing: content-box;
}

.before\:icon::before {
  margin-inline-start: -0.8em;
}

.icon\:book-open::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" /></svg>');
}

.icon\:bell-alert::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" /></svg>');
}
