div[data-phx-main="true"] {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pagecontent {
  flex-grow: 1;
  display: flex;
  inline-size: 100%;
}

.pagefooter {
  text-align: center;
  color: var(--gray-700);
  padding: var(--s-3);
}

.pagefooter a {
  text-decoration: none;
}

.pageheader nav ul li:first-child {
  list-style: none;
}

.entry {
  line-height: 1.6875em;
}

.entry .title {
  font-family: var(--font-sans);
  margin: 1em 0 0.5em;
  line-height: 1.5em;
  word-wrap: break-word;
}

.entry .content {
  font-family: var(--font-serif);
  color: var(--foreground);
  flex-grow: 1;
}

.entry .content p {
  margin-block: 1.3em;
}

.entry .content a {
  text-decoration: underline;
  color: currentColor;
}

.entry {
  max-inline-size: 80ch !important;
  font-size: 1rem;
}

.entry .footer {
  margin: 4em auto 1em;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: var(--gray-800);
}

.sidebar {
  background: var(--foreground);
  color: var(--blue-100);
}

.sidebar .sidebar-heading,
.sidebar .add-source-button {
  margin: 12px;
  border-radius: 4px;
  background-color: #1c2a3a;
  width: 276px;
  padding: var(--s-4);
  padding-inline-start: var(--s0);
}

.sidebar .sidebar-heading {
  margin-block-end: 25px;
}

.sidebar .sidebar-heading h1 {
  margin: 0;
}

.feed .read,
.feed .read a {
  color: var(--gray-500);
}

.feed td:first-child {
  width: 99%;
}

.feed td {
  padding-inline-end: 30px;
}

.sitetitle {
  font-family: var(--font-display);
  font-size: 1em !important;
  font-weight: bolder;
}

.source-box {
  border: 1px solid var(--gray-100);
  background: var(--background);
  padding: var(--s1);
  margin-block-start: var(--s-2);
  display: flex;
  gap: var(--s-1);
  align-items: center;
  min-width: 27em;
}

.source-box,
.source-box .feed-icon {
  border-radius: 0.25em;
}

.source-box .feed-icon {
  max-height: 3em;
}

.source-box .title,
.source-box .url,
.source-box .type {
  margin: 0;
}

.source-box .type {
  line-height: 1em;
  font-family: var(--font-serif);
  font-size: 0.85em;
  color: var(--secondary-alt);
}

.source-box .url {
  font-style: italic;
}
