.pageroot {
  display: flex;
  flex-direction: column;
}

.pagefooter {
  text-align: center;
  color: var(--gray);
}

.pagefooter a {
  text-decoration: none;
}

.pagecontent {
  flex-grow: 1;
  display: flex;
  inline-size: 100%;
}

.pagecontent > div {
  flex-grow: 1;
}
