@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Merriweather:300italic,300);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

:root {
  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, Book Antiqua, Georgia, Century Schoolbook, serif;
  --font-display: "DM Serif Display", serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

body {
  font-family: var(--font-system);
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1000 - 300)));
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-family: var(--font-display);
}

h2,
h3,
h4 {
  font-family: var(--font-sans);
}

.sitetitle {
  font-size: 2rem;
}

ul {
  padding-inline-start: 2em;
}

code {
  font-family: var(--font-mono);
  background-color: var(--blue-100);
  vertical-align: baseline;
  border-radius: 2px;
  padding: 0.1em 0.2em;
  border: 1px solid var(--blue-250);
  text-transform: none;
}

.entry .title {
  font-family: var(--font-sans);
}

.entry .content {
  font-family: var(--font-serif);
  line-height: 1.6875em;
  color: var(--foreground);
}

.section-heading {
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  margin: 2em 0 0;
  line-height: 1.8em;
  color: var(--blue-700);
  padding-inline-start: 15px;
}
