<article>
  <h2>Discover</h2>

  <section>
    <h3>Sources</h3>

    <div class="the-grid">
      <%= for source <- @sources do %>
        <Source.box source={source} allow_edit?={false} />
      <% end %>
    </div>
  </section>
</article>
