<h2><%= @title %></h2>

<table class="feed width:full">
  <thead class="width:full">
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody class="width:full">
    <%= for entry <- @entries do %>
      <tr class={if entry.read?, do: "read"}>
        <td>
          <.link navigate={"/reader/entry/#{entry.id}"}><%= entry.title %></.link>
        </td>
        <td><%= entry.date |> Calendar.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
